<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Node</title>
    </head>
    <body>
        {{> header}}
        <h4>{{screamIt welcomeMsg}}</h4>
        {{> footer}}
    </body>
</html>